.flag-size {
  width: 24px;
  height: 17px;
}

.highlight {
  background: hsl(198, 0%, 60%) !important;
}

.menu-btn:focus{
  outline: none;
}

.color-white{
  color: #f8f9fa;
}

.img-center{
  vertical-align: baseline !important;
}
