<div class="mat-card p-0 size-card">

  <div class="row m-0 inner-card-height ">
    <div class="card-body col-6 inner-card-height overflow-auto">
      <div class="ml-3 mat-form-field-flex justify-content-sm-between">
        <mat-form-field class="example-form-field">
          <mat-label>{{'GENERAL.SEARCH'|translate}}</mat-label>
          <input matInput type="text" [(ngModel)]="searchText" (ngModelChange)="searchTrack($event)">
          <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
            <mat-icon (click)="searchTrack('')">close</mat-icon>
          </button>
        </mat-form-field>
        <div class="mr-4">
          <button matTooltip="{{'GENERAL.SELECT_ALL'|translate}}" class="mr-2 btn btn-outline-light"
                  (click)="selectAllSong()">
            <i-bs name="check2-all"></i-bs>
          </button>
          <button matTooltip="{{'GENERAL.UNSELECT_ALL'|translate}}" class="mr-2 btn btn-outline-light"
                  (click)="deselectAllSong()">
            <i-bs name="x"></i-bs>
          </button>
          <button matTooltip="{{'GENERAL.SHOW'|translate}}" class="mr-2 btn btn-outline-light" *ngIf="!selected"
                  (click)="showTrackInPlayList()">
            <i-bs name="check2-circle"></i-bs>
          </button>
          <button matTooltip="{{'GENERAL.HIDE'|translate}}" class="mr-2 btn btn-outline-light" *ngIf="selected"
                  (click)="showAllTracks()">
            <i-bs name="check2-circle"></i-bs>
          </button>
          <button class=" btn btn-outline-light" (click)="reloadMusicList()">{{'GENERAL.RELOAD'|translate}}</button>
        </div>

      </div>
      <div class="row m-0 inner-card-height wrapper" *ngIf="isDownloadTracks, else music">
        <mat-spinner class="inner" [value]="75"></mat-spinner>
      </div>
      <ng-template #music>
        <mat-selection-list #songs [multiple]="false">
          <ng-container *ngFor="let song of filteredTracks">
            <mat-list-option [value]="song" (click)="formPlaylist(song)" *ngIf="song.visible">
              <div class="mat-form-field-flex">
                <i-bs (click)="downloadTack(song, $event)" name="download"
                      [ngStyle]="{'color':song.isDownload ? '#c2185b' : '' }"></i-bs>
                <div class="ml-3">{{song.title|symbolReplacer: song.author}}</div>
                <i-bs *ngIf="song.addToPlayList" class="ml-3 " name="check2"></i-bs>
              </div>
              <mat-divider></mat-divider>
            </mat-list-option>
          </ng-container>
        </mat-selection-list>
      </ng-template>
    </div>

    <div class="card-body col-6 inner-card-height overflow-auto">
      <div class="mt-2 mr-3 mb-3 mat-form-field-flex justify-content-end">
        <button [disabled]="isDownloadPlaylist" class="btn btn-outline-light"
                (click)="downloadPlayList()">{{'GENERAL.DOWNLOAD_PL'|translate}}
        </button>
      </div>
      <ngx-audio-player #audioPlayerComponent [playlist]="playList"
                        [pageSizeOptions]="[10, 5, 15]"></ngx-audio-player>
    </div>
  </div>
</div>


