<div class="mat-card size-card" style="display: grid">
  <div>
    <blockquote>
      <p>{{'MAIN_PAGE.ARTICLE_35'|translate}}
      </p>
      <footer><cite>{{'MAIN_PAGE.CONSTITUTION'|translate}}</cite></footer>
    </blockquote>
  </div>
  <div class="row mt-5">
    <div class="col-4">
      <mat-card class="example-card m-3 color-light">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{'MAIN_PAGE.STEP'|translate}} 1.</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/main11.jpg" alt="dead guy">
        <mat-card-content>
          <p>
            {{'MAIN_PAGE.STEP_1'|translate}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="example-card m-3 color-light">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{'MAIN_PAGE.STEP'|translate}} 2.</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/main22.jpg" alt="demonstration">
        <mat-card-content>
          <p>
            {{'MAIN_PAGE.STEP_2'|translate}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="example-card m-3 color-light">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{'MAIN_PAGE.STEP'|translate}} 3.</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/main33.jpg" alt="warriors of the light">
        <mat-card-content>
          <p>
            {{'MAIN_PAGE.STEP_3'|translate}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div>
    <footer class="footer">
      <div class="text-center color-light">{{'MAIN_PAGE.AUTHOR'|translate}}Rufina Bazlova</div>
    </footer>
  </div>
</div>
